input {
    padding: 10px;
    margin: 5px;
    width: 200px;
    font-size: 16px;
}

button {
    padding: 10px 20px;
    margin: 10px;
    font-size: 16px;
}
input {
    padding: 10px;
    width: 220px;
    margin: 5px;
}

button {
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    background: #f2f2f2;
    color: black;
    margin: 8px auto;
    padding: 10px;
    width: 250px;
    border-radius: 8px;
}
